<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.rojoyazul.com.android_app_project_new_begening">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".InicioFirebase"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SubjectSelection"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity android:name=".LessonSelectionActivity"
            android:parentActivityName=".SubjectSelection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SubjectSelection"/>
        </activity>

        <activity android:name=".LessonContentActivity"
            android:parentActivityName=".LessonSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LessonSelectionActivity"/>
        </activity>
    </application>

</manifest>